/* _content/CINEMAE/Views/CheckOut/Payment.cshtml.rz.scp.css */
.payment-form[b-rwfp6ndggu] {
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

    .payment-form.dark[b-rwfp6ndggu] {
        background-color: #f6f6f6;
    }

    .payment-form .content[b-rwfp6ndggu] {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        background-color: white;
    }

    .payment-form .block-heading[b-rwfp6ndggu] {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
    }

        .payment-form .block-heading p[b-rwfp6ndggu] {
            text-align: center;
            max-width: 420px;
            margin: auto;
            opacity: 0.7;
        }

    .payment-form.dark .block-heading p[b-rwfp6ndggu] {
        opacity: 0.8;
    }

    .payment-form .block-heading h1[b-rwfp6ndggu],
    .payment-form .block-heading h2[b-rwfp6ndggu],
    .payment-form .block-heading h3[b-rwfp6ndggu] {
        margin-bottom: 1.2rem;
        color: #3b99e0;
    }

    .payment-form form[b-rwfp6ndggu] {
        border-top: 2px solid #5ea4f3;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        background-color: #ffffff;
        padding: 0;
        max-width: 600px;
        margin: auto;
    }

    .payment-form .title[b-rwfp6ndggu] {
        font-size: 1em;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-bottom: 0.8em;
        font-weight: 600;
        padding-bottom: 8px;
    }

    .payment-form .products[b-rwfp6ndggu] {
        background-color: #f7fbff;
        padding: 25px;
    }

        .payment-form .products .item[b-rwfp6ndggu] {
            margin-bottom: 1em;
        }

        .payment-form .products .item-name[b-rwfp6ndggu] {
            font-weight: 600;
            font-size: 0.9em;
        }

        .payment-form .products .item-description[b-rwfp6ndggu] {
            font-size: 0.8em;
            opacity: 0.6;
        }

        .payment-form .products .item p[b-rwfp6ndggu] {
            margin-bottom: 0.2em;
        }

        .payment-form .products .price[b-rwfp6ndggu] {
            float: right;
            font-weight: 600;
            font-size: 0.9em;
        }

        .payment-form .products .total[b-rwfp6ndggu] {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            margin-top: 10px;
            padding-top: 19px;
            font-weight: 600;
            line-height: 1;
        }

    .payment-form .card-details[b-rwfp6ndggu] {
        padding: 25px 25px 15px;
    }

        .payment-form .card-details label[b-rwfp6ndggu] {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
            color: #79818a;
            text-transform: uppercase;
        }

        .payment-form .card-details button[b-rwfp6ndggu] {
            margin-top: 0.6em;
            padding: 12px 0;
            font-weight: 600;
        }

    .payment-form .date-separator[b-rwfp6ndggu] {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }

@media (min-width: 576px) {
    .payment-form .title[b-rwfp6ndggu] {
        font-size: 1.2em;
    }

    .payment-form .products[b-rwfp6ndggu] {
        padding: 40px;
    }

        .payment-form .products .item-name[b-rwfp6ndggu] {
            font-size: 1em;
        }

        .payment-form .products .price[b-rwfp6ndggu] {
            font-size: 1em;
        }

    .payment-form .card-details[b-rwfp6ndggu] {
        padding: 40px 40px 30px;
    }

        .payment-form .card-details button[b-rwfp6ndggu] {
            margin-top: 2em;
        }
}
/* _content/CINEMAE/Views/Home/Food.cshtml.rz.scp.css */
.columns[b-fynhg6xxwh] {
    display: flex;
    flex-wrap: wrap;
}

.column[b-fynhg6xxwh] {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .column[b-fynhg6xxwh] {
        flex: 0 0 auto;
    }
}

.food-card[b-fynhg6xxwh] {
    width: 100%;
}

.food-card-box[b-fynhg6xxwh] {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .food-card-box img[b-fynhg6xxwh] {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

.title.is-6[b-fynhg6xxwh] {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.eztext-field[b-fynhg6xxwh] {
    white-space: pre-line;
}
/* _content/CINEMAE/Views/Home/Index.cshtml.rz.scp.css */
body[b-mkuvqs9pv8] {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header[b-mkuvqs9pv8] {
    background-color: #333;
    padding: 10px;
}

nav ul[b-mkuvqs9pv8] {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li[b-mkuvqs9pv8] {
        display: inline;
    }

        nav ul li a[b-mkuvqs9pv8] {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

#hero[b-mkuvqs9pv8] {
    text-align: center;
    padding: 50px;
    background-color: #f1f1f1;
}

#movies[b-mkuvqs9pv8] {
    padding: 50px;
    background-color: #fff;
}

.movie[b-mkuvqs9pv8] {
    display: inline-block;
    width: 485px;
    margin: 20px;
    text-align: center;
}

    .movie img[b-mkuvqs9pv8] {
        max-width: 100%;
        height: auto;
    }
/* _content/CINEMAE/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-yufy1zcdw9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-yufy1zcdw9] {
  color: #0077cc;
}

.btn-primary[b-yufy1zcdw9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-yufy1zcdw9], .nav-pills .show > .nav-link[b-yufy1zcdw9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-yufy1zcdw9] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-yufy1zcdw9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-yufy1zcdw9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-yufy1zcdw9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-yufy1zcdw9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
