.columns[b-fynhg6xxwh] {
    display: flex;
    flex-wrap: wrap;
}

.column[b-fynhg6xxwh] {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .column[b-fynhg6xxwh] {
        flex: 0 0 auto;
    }
}

.food-card[b-fynhg6xxwh] {
    width: 100%;
}

.food-card-box[b-fynhg6xxwh] {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .food-card-box img[b-fynhg6xxwh] {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

.title.is-6[b-fynhg6xxwh] {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.eztext-field[b-fynhg6xxwh] {
    white-space: pre-line;
}
