body[b-mkuvqs9pv8] {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header[b-mkuvqs9pv8] {
    background-color: #333;
    padding: 10px;
}

nav ul[b-mkuvqs9pv8] {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li[b-mkuvqs9pv8] {
        display: inline;
    }

        nav ul li a[b-mkuvqs9pv8] {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

#hero[b-mkuvqs9pv8] {
    text-align: center;
    padding: 50px;
    background-color: #f1f1f1;
}

#movies[b-mkuvqs9pv8] {
    padding: 50px;
    background-color: #fff;
}

.movie[b-mkuvqs9pv8] {
    display: inline-block;
    width: 485px;
    margin: 20px;
    text-align: center;
}

    .movie img[b-mkuvqs9pv8] {
        max-width: 100%;
        height: auto;
    }