.columns {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .column {
        flex: 0 0 auto;
    }
}

.food-card {
    width: 100%;
}

.food-card-box {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .food-card-box img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

.title.is-6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.eztext-field {
    white-space: pre-line;
}
