@{
    ViewData["Title"] = "Food";
}

<div class="columns is-centered">
    <div class="column is-9">
        <div class="columns">
            <div class="column">
                <div class="column is-12">
                    <h2 data-aos="fade-zoom-in" class="title section__title aos-init aos-animate"><span class="ezstring-field">Combos</span></h2>
                </div>
            </div>
        </div>
        <div class="columns is-multiline columns--slim">
            <div data-aos="fade-up" data-aos-delay="0" class="column is-6-tablet is-4-desktop aos-init aos-animate">
                <article class="media-card food-card">
                    <div class="food-card-box">
                        <figure class="media-card__image">
                            <img src="https://archivos-cms.cinecolombia.com/images/_aliases/medium/8/7/5/3/13578-13-esl-CO/COMBITO.png" alt="" width="300" height="300">
                        </figure>
                        <div class="media-card__content">
                            <h2 class="title is-5"><span class="ezstring-field">Cine Combito</span></h2>
                            <div class="data-block data-block--light data-block--inline has-text-black u-pt-2">
                                <span>
                                    <div class="eztext-field">1 Caja crispetas de sal 55 g + 1 Gaseosa 640 ml + 1 chocolatina Jet 30g</div>
                                </span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div data-aos="fade-up" data-aos-delay="50" class="column is-6-tablet is-4-desktop aos-init aos-animate">
                <article class="media-card food-card">
                    <div class="food-card-box">
                        <figure class="media-card__image">
                            <img src="https://archivos-cms.cinecolombia.com/images/_aliases/medium/6/5/5/3/13556-23-esl-CO/PERSONAL.png" alt="" width="300" height="300">
                        </figure>
                        <div class="media-card__content">
                            <h2 class="title is-5"><span class="ezstring-field">Combo personal</span></h2>
                            <div class="data-block data-block--light data-block--inline has-text-black u-pt-2">
                                <span>
                                    <div class="eztext-field">1 Crispeta de sal 120 g + 1 perro caliente + 1 Gaseosa 640 ml + 1 Kit Kat 41 g</div>
                                </span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div data-aos="fade-up" data-aos-delay="100" class="column is-6-tablet is-4-desktop aos-init aos-animate">
                <article class="media-card food-card">
                    <figure class="media-card__image"><img src="https://archivos-cms.cinecolombia.com/images/_aliases/medium/4/3/5/3/13534-15-esl-CO/PARA DOS.png" alt="" width="300" height="300"></figure>
                    <div class="media-card__content">
                        <h2 class="title is-5"><span class="ezstring-field">Combo para dos</span></h2>
                        <div class="data-block data-block--light data-block--inline has-text-black u-pt-2">
                            <span>
                                <div class="eztext-field">1 Crispeta de sal 120 g + 2 perros calientes + 2 Gaseosas hasta 640 ml + 1 Kit Kat 41 g + 1 chocolatina Jet 30 g</div>
                            </span>
                        </div>
                    </div>
                </article>
            </div>
            <div data-aos="fade-up" data-aos-delay="150" class="column is-6-tablet is-4-desktop aos-init aos-animate">
                <article class="media-card food-card">
                    <figure class="media-card__image"><img src="https://archivos-cms.cinecolombia.com/images/_aliases/medium/5/4/5/3/13545-7-esl-CO/borrar.png" alt="" width="300" height="300"></figure>
                    <div class="media-card__content">
                        <h2 class="title is-5"><span class="ezstring-field">Combo crispetas</span></h2>
                        <div class="data-block data-block--light data-block--inline has-text-black u-pt-2">
                            <span>
                                <div class="eztext-field">1 Crispeta de sal 150 g + 2 Gaseosas 640 ml</div>
                            </span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
