body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
    }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

#hero {
    text-align: center;
    padding: 50px;
    background-color: #f1f1f1;
}

#movies {
    padding: 50px;
    background-color: #fff;
}

.movie {
    display: inline-block;
    width: 485px;
    margin: 20px;
    text-align: center;
}

    .movie img {
        max-width: 100%;
        height: auto;
    }