.payment-form[b-rwfp6ndggu] {
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

    .payment-form.dark[b-rwfp6ndggu] {
        background-color: #f6f6f6;
    }

    .payment-form .content[b-rwfp6ndggu] {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        background-color: white;
    }

    .payment-form .block-heading[b-rwfp6ndggu] {
        padding-top: 50px;
        margin-bottom: 40px;
        text-align: center;
    }

        .payment-form .block-heading p[b-rwfp6ndggu] {
            text-align: center;
            max-width: 420px;
            margin: auto;
            opacity: 0.7;
        }

    .payment-form.dark .block-heading p[b-rwfp6ndggu] {
        opacity: 0.8;
    }

    .payment-form .block-heading h1[b-rwfp6ndggu],
    .payment-form .block-heading h2[b-rwfp6ndggu],
    .payment-form .block-heading h3[b-rwfp6ndggu] {
        margin-bottom: 1.2rem;
        color: #3b99e0;
    }

    .payment-form form[b-rwfp6ndggu] {
        border-top: 2px solid #5ea4f3;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        background-color: #ffffff;
        padding: 0;
        max-width: 600px;
        margin: auto;
    }

    .payment-form .title[b-rwfp6ndggu] {
        font-size: 1em;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-bottom: 0.8em;
        font-weight: 600;
        padding-bottom: 8px;
    }

    .payment-form .products[b-rwfp6ndggu] {
        background-color: #f7fbff;
        padding: 25px;
    }

        .payment-form .products .item[b-rwfp6ndggu] {
            margin-bottom: 1em;
        }

        .payment-form .products .item-name[b-rwfp6ndggu] {
            font-weight: 600;
            font-size: 0.9em;
        }

        .payment-form .products .item-description[b-rwfp6ndggu] {
            font-size: 0.8em;
            opacity: 0.6;
        }

        .payment-form .products .item p[b-rwfp6ndggu] {
            margin-bottom: 0.2em;
        }

        .payment-form .products .price[b-rwfp6ndggu] {
            float: right;
            font-weight: 600;
            font-size: 0.9em;
        }

        .payment-form .products .total[b-rwfp6ndggu] {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            margin-top: 10px;
            padding-top: 19px;
            font-weight: 600;
            line-height: 1;
        }

    .payment-form .card-details[b-rwfp6ndggu] {
        padding: 25px 25px 15px;
    }

        .payment-form .card-details label[b-rwfp6ndggu] {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
            color: #79818a;
            text-transform: uppercase;
        }

        .payment-form .card-details button[b-rwfp6ndggu] {
            margin-top: 0.6em;
            padding: 12px 0;
            font-weight: 600;
        }

    .payment-form .date-separator[b-rwfp6ndggu] {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }

@media (min-width: 576px) {
    .payment-form .title[b-rwfp6ndggu] {
        font-size: 1.2em;
    }

    .payment-form .products[b-rwfp6ndggu] {
        padding: 40px;
    }

        .payment-form .products .item-name[b-rwfp6ndggu] {
            font-size: 1em;
        }

        .payment-form .products .price[b-rwfp6ndggu] {
            font-size: 1em;
        }

    .payment-form .card-details[b-rwfp6ndggu] {
        padding: 40px 40px 30px;
    }

        .payment-form .card-details button[b-rwfp6ndggu] {
            margin-top: 2em;
        }
}
